<div>
    <div class="row mt-30">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-docs"></i>
                    Transaction History
                    <i class="fa fa-btn fa-spinner fa-spin" v-if="false"></i>
                </div>
                <div class="card-block">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <data-table
                                :columns="transactionColumns"
                                :data="transactionRows"
                                editable
                                paginate
                                filterable>
                            </data-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
