<div class="sidebar ml-0">
    <div class="text-center">
        <router-link to="">
            <img class="mt-30 mb-40" src="static/img/favicon.png" alt="LOGO" width="150" height="150" />
        </router-link>
    </div>
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <router-link to="/dashboard" class="nav-link"><i class="icon-home"></i> Dashboard </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/address-book" class="nav-link"><i class="icon-notebook"></i> Address Book </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/send" class="nav-link"><i class="icon-paper-plane"></i> Send </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/receive" class="nav-link"><i class="icon-notebook"></i> Receive </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/transactions" class="nav-link"><i class="icon-docs"></i> Transactions </router-link>
            </li>
            <li class="nav-item">
                <router-link to="/masternodes" class="nav-link"><i class="icon-wallet"></i> Masternodes </router-link>
            </li>
        </ul>
    </nav>
</div>