<div id="preloader">
    <div class="wrap-preload circle-ball">
        <div class="overlay"></div>
        <div class="wrap-content">
            <div class="wrap-circle-ball">
                <div class="wrap-ball">
                    <div class="ball ball-top"></div>
                    <div class="ball ball-top"></div>
                </div>
                <div class="wrap-ball">
                    <div class="ball ball-bot"></div>
                    <div class="ball ball-bot"></div>
                </div>
                <div class="wrap-effect">
                    <div class="wrap-circle">
                        <div class="circle-effect left"></div>
                        <div class="circle-effect left"></div>
                    </div>
                    <div class="wrap-circle">
                        <div class="circle-effect right"></div>
                        <div class="circle-effect right"></div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-30 loading-text">
                Loading...
            </div>
        </div>
    </div>
</div>
